body {
  line-height: 1.4;
  font-size: 16px;
  margin: 0;
  padding: 1ex;
}

.constrained-width {
  max-width: 900px;
}

header {
  border-bottom: 1px solid #444;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 900px;
  margin: 0 auto;
}

#home {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #444;
}

header nav ul {
  margin: 0;
  list-style: none;
}

header nav ul li {
  float: left;
  padding: 15px 10px 0;
}

header nav ul li a {
  padding: 15px 10px 0;
  color: #444;
  text-decoration: none;
  font-size: 20pt;
  line-height: 1;
}

a {
  text-decoration-style: dotted;
  text-decoration-skip-ink: none;
}

main {
  margin: 40px auto;
}

article {
  margin-bottom: 4em;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 3px solid #aaa;
}

#sidebar section {
  margin-bottom: 2rem;
}

#sidebar h3 {
  margin: 0;
}

#sidebar ul {
  margin: 0;
  padding-left: 1rem;
}

#sidebar a {
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 1.2;
  color: #444;
}

div.post-preview {
  margin: 4rem 0;
}

div.post-preview h3.title {
  margin: 0;
}

div.post-preview span.date {
  margin-right: 1rem;
}

div.post-preview span.author {
  margin-right: 1rem;
}

div.post-preview div.tags {
  display: inline;
}

div.post-preview div.tags a {
  margin-left: 0.5rem;
}

div.post-preview div.tags a:first {
  margin-left: 0;
}

div.metadata span.date {
  display: block;
  margin: 0;
}

div.metadata span.author {
  display: block;
  margin: 0;
}

div.metadata div.tags a {
  margin-left: 0.5rem;
}

div.metadata div.tags a:first {
  margin-left: 0;
}

footer {
  clear: both;
  margin: 4rem auto 0;
  font-size: 10pt;
}

footer p {
  margin: 0;
}

.headshot {
  height: 300px;
  width: 300px;
}

.begin-colright {
  width: 45%;
  float: right;
  clear: none;
}

.begin-colleft {
  width: 45%;
  float: left;
  clear: none;
}

.end-layout {
  clear: both;
}

/* for space between staff members on staff page */
.box {
  padding-right: 50px;
}

/* declare grid container with columns */
.grid-column-layout {
  display: grid;
  grid-template-columns: auto auto;
}

.span-grid {
  grid-column: 1 / span 2;
}

@media only screen and (min-width: 768px) {
  main {
    display: flex;
  }

  article {
    flex: 1;
    max-width: 650px;
    box-sizing: border-box;
  }

  #sidebar {
    max-width: 250px;
    box-sizing: border-box;
    margin-left: 2rem;
  }
}
